<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="assets/css/profile.css">
    <script src="lib/session.js" async></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="lib/profile.js" defer></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
      </ul>
    </nav>
  </header>
  <div id="profile">
    <div class="profile-header">
      <img src="https://avatars.githubusercontent.com/u/133362311?v=4" alt="profile" width="100" height="100">
      <h1>{{ items.fullname }}</h1>
      <div v-if="!cuser">
        <button @click="followToggle()" class="follow-button">
          {{ following ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </div>

    <div class="post-section">
      <ul>

        <li v-for="item in mepost" :key="item.id" class="post-item">
          <div class="post-header">
            <a :href="'profile.html?uid='+item.user_id">{{ item.fullname }}</a>
            <span class="post-date">{{ item.created_at }}</span>
          </div>
          <p>{{ item.content }}</p>


          <template v-if="item.filenames && item.filenames.length > 0" class="image-gallery">
            <template v-for="(filename, index) in item.filenames">
              <img v-if="filename" :src="'..' + filename" :key="index" alt="" width="600" height="400">
            </template>
          </template>

          <div class="post-actions">
            <button onclick="x.showModal()" class="edit-button">Edit</button>
            <button @click="deletePost(item.post_id)" class="delete-button">Delete</button>
            <button class="like-button">Like</button>
            <button :href="'comment.html?post=' + item.post_id + '&u=' + item.user_id" class="comment-button">Comment</button>
            <button class="share-button">Share</button>
          </div>
          <hr class="post-divider">
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
